.action {
    button {
        background: transparent;

        border: 1px solid #D0E2F6;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        svg {
            width: 25px;
        }
    }

    &_like:hover {
        button {
            svg {}
        }
    }
}

// animation

.fade-enter {
    opacity: 1;
    transform: scale(1.1);
}
.fade-enter-active {
    opacity: 1;
    transform: scale(1);
}

.fade-exit {
    opacity: 1;
    path:nth-child(2) {
        fill: none !important;
    }
}
.fade-exit-active {
    opacity: 0.8;
    transform: scale(1.1);
    fill: #0080ff;
}
.fade-enter-active,
.fade-exit-active {
    transition: 100ms;
}

/*MARK AS DONE ACTION*/

.fade_mark-enter {
    opacity: 1;
}
.fade_mark-enter-active {
    opacity: 1;
}

.fade_mark-enter-active,
.fade_mark-exit-active {
    transition: 100ms;
}

.fade_mark-exit-active {
    opacity: 0.5;
    stroke: #0080ff;
}
.fade_mark-exit {
    opacity: 1;
    path:nth-child(2) {
        stroke: none !important;
    }
}
