@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../fonts/fonts.scss';
@import './rootVars.scss';
@import './pages.scss';
@import './actions.scss';
@import './mixins.scss';
@import './timetable.scss';
@import './forms.scss';
@import './tables.scss';

html {
    position: relative;
    overflow-y: hidden;
    font-family: Roboto;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
button {
    padding: inherit;
    margin: inherit;
    background: inherit;
    color: inherit;
    outline: none;
    border: inherit;
    font: inherit;
    &[disabled] {
        color: #D0E2F6;
        svg {
            fill: #D0E2F6 !important;
        }
    }
}

// регулирует отступ контента+левого сайдбара от верхнего меню
.content {
    display: grid;
    grid-template-columns: var(--side-menu-width) auto var(--rightside-menu-width);
    grid-gap: var(--pageSide-gap);
}

// button
.button {
    font-size: var(--fz-medium);
    font-family: 'Gotham Pro';
    background: var(--btn-readmore-bg);
    border-radius: 20px;
    color: var(--btn-readmore-color);
    border: 1px solid var(--btn-readmore-border-color);
    width: 100%;
    height: 40px;
    font-weight: 500;
    transition: 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: var(--btn-readmore-color);
    }
    &:hover {
        background: var(--btn-readmore-hover-bg);
        color: var(--btn-readmore-hover-color);
        svg {
            fill: var(--btn-readmore-hover-color);
        }
    }
    &_post {
        $post-btn-color: rgba(74, 172, 40, 0.91);
        background: $post-btn-color;
        border-radius: 15px;
        border: $post-btn-color;
        &:not(:disabled):hover {
            background: var(--btn-readmore-hover-bg);
            color: $post-btn-color;
            border: 1px solid $post-btn-color;
            svg {
                fill: var(--btn-readmore-hover-color);
            }
        }
        &:disabled {
            color: white;
            background: rgba(74, 172, 40, 0.5)
        }
    }


    &_blue {
        font-size: var(--fz-head);
        color: white;
        background: var(--btn-showmore-bg);
        border-color: var(--btn-showmore-border-color);
        height: 80px;
        min-width: 250px;

        &:hover {
            background: var(--btn-showmore-hover-bg);
            color: var(--btn-showmore-hover-color);
        }
    }

    svg {
        transition: 300ms ease-out;
        margin-left: 5px;
    }
}


// стили для карточек
.main-card-wrapper {
    position: relative;
    width: max-content;
}
.newsCard-wrapper {
    position: relative;
    width: var(--newsCard-width);
    height: var(--newsCard-height);
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 15px;
    border: 2px solid #D0E2F6;
    background: white;
    &:last-child {}
}
.newsCard {

    $card-padding: 15px;

    display: grid;
    grid-template-rows: 1.5fr 0.6fr 3fr 3fr;

    &_hw {
        grid-row-gap: 10px;
        grid-template-rows: 0.6fr 1fr 1.5fr 1fr 3fr;

    }

    height: 100%;
    &__subject {
        color: var(--accent);
        font-family: Roboto;
        font-weight: bold;
        padding: 0 $card-padding;
        align-items: center;
    }
    &__title {
        font-size: var(--fz-head);
        font-family: 'Gotham Pro';
        font-weight: bold;
        line-height: 1.5rem;
        padding: 0 $card-padding;
        line-break: anywhere;
        overflow: hidden;

    }
    &__date {
        margin-top: 5px;
        padding: 0 $card-padding;

    }
    &__content {
        margin: 10px 0;
        padding: 0 $card-padding;
        font-weight: 400;
        line-break: anywhere;
        overflow: hidden;
    }
    &__footer {
        text-align: center;
        &-controllers {
            padding: 0 $card-padding;
        }
        .button-wrapper {
            padding: 0 $card-padding;
            margin-top: 10px;
        }
    }


}


/*
.deadline-indicator{
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
   
    @mixin shape {
        height: 10px;
        border-radius: 20px;
    }

    margin-bottom: 5px;
    
    &__progress{
        z-index: 2;
        position: absolute;
        @include shape;
        background: #F25A5A;
        &-bomb{
            z-index: 3;
            position: absolute;
            right: -20px;
            bottom: -10px;
        }
    }
    &__substrate{
        z-index: 1;
        position: absolute;
        @include shape;
        width: var(--newsCard-width);
        background: #FFE4CB;
    }
}
*/


.nothing-to-show {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bs-gray);
    font-weight: 300;
}
// --------------

.radio {
    // RADIO
    --background: white;
    --radio: var(--radio-color);
    --radio-checked: var(--radio-color);
    --radio-size: 16px;

    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: var(--radio-size);
        width: var(--radio-size);
        outline: none;
        margin: 0 10px 0 0;
        cursor: pointer;
        border: 2px solid var(--radio);
        &.radio_red {
            border-color: red;
        }
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-self: end;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: border 0.5s ease;

        &::before,
        &::after {
            content: '';
            display: flex;
            justify-self: center;
            border-radius: 50%;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            z-index: 1;
            opacity: var(--opacity, 1);
        }
        &::after {
            position: relative;
            width: calc(100% / 1.5);
            height: calc(100% / 1.5);
            background: var(--radio-checked);
            top: var(--y, 100%);
            transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
        }
        &.radio_red {
            &:after {
                background: red;
            }
        }
        &:checked {
            --radio: var(--radio-checked);
            &::after {
                --y: 0;
                animation: stretch-animate 0.3s ease-out 0.17s;
            }
            &::before {
                --opacity: 0;
            }
            ~ input[type='radio'] {
                &::after {
                    --y: -100%;
                }
            }
        }
        &:not(:checked) {
            &::before {
                --opacity: 1;
                transition: opacity 0s linear 0.5s;
            }
        }
    }

    @keyframes stretch-animate {
        0% {
            transform: scale(1, 1);
        }
        28% {
            transform: scale(1.15, 0.85);
        }
        50% {
            transform: scale(0.9, 1.1);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}


// CIRCLE DIAGRAM
/*
.circle-diagram-wrapper {
    
    svg {
        .chart-text {
            
            fill: var(--accent);
            -moz-transform: translateY(0.25em);
            -ms-transform: translateY(0.25em);
            -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
        }
        .chart-number {
            font-family: Gilroy;
            font-weight: 600;
            font-size: 0.6rem !important;
            line-height: 1;
            text-anchor: middle;
            -moz-transform: translateY(-0.25em);
            -ms-transform: translateY(-0.25em);
            -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
        }
    }
}
*/

.react-datepicker-popper {
    z-index: 1000 !important;
}

.markup-replacement {
    background: #fff3cd;
    font-size: 12px;
    margin-left: 0.25rem;
    color: #664d03;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
