@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../fonts/fonts.scss';
@import './rootVars.scss';
@import './pages.scss';
@import './actions.scss';

html {
    position: relative;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

//регулирует отступ контента+левого сайдбара от верхнего меню
.content {
    margin-top: calc(var(--menu-top-height) + var(--pageTop-gap));
}

//button
.button {
    font-size: var(--fz-medium);
    font-family: 'Montserrat';
    background: transparent;
    border-radius: 40px;
    border: 1px solid #000000;
    min-width: 225px;
    height: 40px;
    font-weight: 500;

    &_blue {
        font-weight: 700;
        font-size: var(--fz-head);
        color: white;
        background: var(--accent);
        border-color: transparent;
        height: 50px;
        min-width: 170px;
    }

    svg {
        margin-left: 5px;
    }
}
