@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../fonts/fonts.scss';
@import './rootVars.scss';
@import './pages.scss';
@import './actions.scss';

html {
    position: relative;
    overflow-y: hidden;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
}

//регулирует отступ контента+левого сайдбара от верхнего меню
.content {
    margin-top: calc(var(--menu-top-height) + var(--pageTop-gap));
}

//button
.button {
    font-size: var(--fz-medium);
    font-family: 'Montserrat';
    background: var(--btn-readmore-bg);
    border-radius: 40px;
    border: 1px solid var(--btn-readmore-border-color);
    min-width: 225px;
    height: 40px;
    font-weight: 400;
    transition: 300ms ease-out;
    &:hover {
        background: var(--btn-readmore-hover-bg);
        color: var(--btn-readmore-hover-color);
        svg {
            fill: var(--btn-readmore-hover-color);
        }
    }

    &_blue {
        font-size: var(--fz-head);
        color: white;
        background: var(--btn-showmore-bg);
        border-color: var(--btn-showmore-border-color);
        height: 80px;
        min-width: 250px;

        &:hover {
            background: var(--btn-showmore-hover-bg);
            color: var(--btn-showmore-hover-color);
        }
    }

    svg {
        transition: 300ms ease-out;
        margin-left: 5px;
    }
}
