.content {
    // common container styles for mobile
    &_mobile {
        overflow-x: hidden;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "head" "main" "footer";
        grid-template-rows: 100px 1fr 80px;
        height: 100vh;

        .topMenu-mobile {
            grid-area: head;
            .timetable-mobile {}
        }
        .page {
            grid-area: main;
            min-height: unset;
            max-height: unset;
            .main-card-wrapper {
                width: 100%;
            }
            .newsCard-wrapper {
                width: var(--mobile-newsCard-width);
                height: var(--mobile-newsCard-height);
                padding-top: 7px;
                padding-bottom: 7px;
                .newsCard {

                    $card-padding: 7px;
                    &_hw {}
                    height: 100%;
                    &__subject {
                        padding: 0 $card-padding;
                    }
                    &__title {
                        padding: 0 $card-padding;
                    }
                    &__date {
                        padding: 0 $card-padding;
                    }
                    &__content {
                        padding: 0 $card-padding;
                    }
                    &__footer {
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        &-controllers {
                            width: 100%;
                            padding: 0 $card-padding;
                            display: flex;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                            align-items: center;
                            .action {
                                margin: 0;
                                transform: scale(0.8);


                            }
                            @include if_size('380') {
                                flex-wrap: nowrap;
                            }


                        }
                        .button-wrapper {
                            padding: 0 $card-padding;
                            margin-top: 10px;
                        }
                    }


                }
                .deadline-chart {
                    width: 100%;
                }
            }

        }

        .footer-mobile {
            grid-area: footer;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 15px;
            background: var(--side-menu-bg);

            .sideMenu__item {
                width: 50px;
                height: 50px;
                // убираем подсказку
                &:hover {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }

}
