.page {
    position: relative;

    padding: 15px;

    background: var(--content-bg);
    border-radius: 15px;

    min-height: var(--side-menu-height);
    max-height: var(--page-max-height);

    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    @mixin grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;

        @media(max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        @include if_size('xl') {
            justify-items: center;
        }

    }

    &-main {
        &-cardsWrapper {
            @include grid;
        }
    }

    &-homework {
        .deadline-wrapper {
            display: flex;
            margin: 0 15px;
            justify-content: space-between;
            align-items: center;
        }
        .deadline-text {
            color: #000;
            font-family: Roboto;
            font-size: 1rem;
            font-weight: 600;
        }
        .deadline-chart {
            $deadline-with: 120px;
            $deadline-height: 23px;
            width: $deadline-with;
            position: relative;
            background: var(--deadline-bg);
            height: $deadline-height;
            border-radius: 10px;
            &__progress {
                position: absolute;
                background: var(--deadline-progress);
                height: $deadline-height;
                border-radius: 10px 0 0 10px;
            }

        }
        /*.deadline-circle{
            position: relative;
            
            .circle-diagram-wrapper{
                position: absolute;
                top: -22px;
                right: -1px;
                z-index: 10;
                width: 50px;
                [id*="SvgjsText"]:first-child{
                    //remain time

                    //выравнивание текста по центру
                    -moz-transform: translateY(0.25em);
                    -ms-transform: translateY(0.25em);
                    -webkit-transform: translateY(0.25em);
                    transform: translateY(0.25em);
                    //-----------
                    
                    font-size: 10px;
                    font-family: "Gotham Pro" !important;
                }
                [id*="SvgjsText"]:last-child{
                    //percent of filling
                    display: none;
                }
            
        }}*/
        &-cardsWrapper {
            @include grid;
        }
    }

    &-view {
        &__wrapper {
            width: 90%;
            margin: 0 auto;
            padding-top: 15px;
        }
        .page-controllers {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            align-items: center;

            color: var(--accent);
            font-weight: bold;

            svg {
                fill: var(--accent);
            }
            .prev-page {
                justify-self: flex-start;

                svg {
                    /* arrow left */
                    margin-right: 10px;
                    transform: scale(0.9) rotate(180deg);
                }
            }
            .subject-name {
                /* subject name */
                color: var(--accent);
                justify-self: center
            }
            .next-page {
                justify-self: flex-end;
                svg {
                    /* arrow right */
                    transform: scale(0.9);
                    margin-left: 10px;
                }
            }

        }

        .deadline-indicator {
            .dates-row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                margin-top: 30px;
                margin-bottom: 5px;

                font-weight: bold;

                &__startDate {
                    color: var(--accent)
                }
                &__remain {
                    color: var(--black)
                }
                &__endDate {
                    color: var(--accent-light)
                }
            }
            .deadline-chart {
                $height: 10px;
                $borderRadius: 10px;

                position: relative;
                background: var(--deadline-bg);
                height: $height;
                border-radius: $borderRadius;
                &__progress {
                    position: absolute;
                    background: var(--deadline-progress);
                    height: $height;
                    border-radius: $borderRadius 0 0 $borderRadius;
                }
            }
        }
        .content-wrapper {

            .page-title {
                font-size: var(--fz-head);
                font-weight: bold;
                margin-top: 20px;
                color: #444444;
                text-align: center;
            }

            .page-content {
                line-height: 2rem;
                margin-top: 25px;
                p {
                    text-indent: var(--fz-head);
                }
                img {
                    max-width: 100%
                }
            }
        }


    }
    &-lk {
        .avatar-placeholder {
            $avatar-width: 100px;

            border-radius: 50%;
            padding: 20px;
            border: 1px solid rgba(87, 148, 218, 0.2);

            width: $avatar-width;
            height: 100px;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            margin: 30px auto 20px;
            svg {
                stroke-opacity: 1;
            }
            img {
                object-fit: contain;
                border-radius: 50%;
                width: calc(#{$avatar-width} - 5px)
            }
        }
        .welcome-message {
            text-align: center;
            font-family: 'Gotham Pro';
            font-weight: bold;
            font-size: var(--fz-medium);
            margin-bottom: 20px;
        }
        .controllers {
            .button {
                width: 240px;
            }
        }
        &_login {
            display: flex;
            flex-direction: column;
            align-items: center;

            .button {
                width: 140px;
            }
        }
    }
    &-admin {
        &__newPost {}
    }
}

.rightsidebar {
    .actions {
        border-radius: 15px;
        padding: 15px;
        background: var(--right-menu-bg);

        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .filters {
        border-radius: 15px;
        padding: 15px;


        background: var(--right-menu-bg);

        &__radio-wrapper {
            & > div {
                margin-bottom: 15px;
                label {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        color: var(--black);
                        font-weight: 500;
                    }
                }
            }

        }
        .select-wrapper {
            & > label {
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                justify-content: space-between;
                & > span {
                    color: var(--black);
                    font-weight: 500;
                }
            }
        }
    }

}
