
.page {
    position: relative;

    padding: 15px;

    background: var(--content-bg);
    border-radius: 15px;

    min-height: var(--side-menu-height);
    max-height: var(--page-max-height);

    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    @mixin grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content;
        grid-row-gap: 15px;

        @media  (max-width: 1200px){
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        @include if_size('xl'){
            justify-items: center;
        }
        
      }

    &-main {
        @include grid;
    }

    &-homework{
        .deadline-chart{
            align-self: center;
            margin: 0 15px;
            position: relative;
            background: var(--deadline-bg);
            height: 30px;
            border-radius: 10px;
            &__progress{
                position: absolute;
                background: var(--deadline-progress);
                height: 30px;
                border-radius: 10px 0 0 10px;
            }
            &__text{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: var(--deadline-color);
                font-family: Roboto;
                font-weight: 600;
            }
        }
        /*.deadline-circle{
            position: relative;
            
            .circle-diagram-wrapper{
                position: absolute;
                top: -22px;
                right: -1px;
                z-index: 10;
                width: 50px;
                [id*="SvgjsText"]:first-child{
                    //remain time

                    //выравнивание текста по центру
                    -moz-transform: translateY(0.25em);
                    -ms-transform: translateY(0.25em);
                    -webkit-transform: translateY(0.25em);
                    transform: translateY(0.25em);
                    //-----------
                    
                    font-size: 10px;
                    font-family: "Gotham Pro" !important;
                }
                [id*="SvgjsText"]:last-child{
                    //percent of filling
                    display: none;
                }
            
        }}*/
        &-cardsWrapper{
            @include grid;
        }
    }
}

.rightsidebar{
    
    .filters{
        border-radius: 15px;
        padding: 15px;


        background: var(--right-menu-bg);

        &__radio-wrapper{
            & > div {
                margin-bottom: 15px;
                label{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        color: var(--black);
                        font-weight: 500;
                    }
                }
            }
            
        }
        .select-wrapper{
            & > label{
                cursor: pointer;
                display: grid;
                grid-template-columns: 1fr ;
                align-items: center;
                justify-content: space-between;
                & > span{
                    color: var(--black);
                    font-weight: 500;
                }
            }
        }
    }

}