@import 'mixins.scss';

html {
    font-family: 'Roboto';
    font-size: 14px;
}
body{
    line-height: normal;
    font-family: inherit;
    font-weight: inherit;

    //background: url('../img//bg-templates.svg') ;
    background: var(--body-bg);
}
:root {
    
    
    //размеры
    --rightside-menu-width: 235px;
    --side-menu-width: 80px;
    --side-menu-height: 80vh; //так же, минимальная высота для основного блока
    --menu-top-height: 110px;

    --pageSide-gap: 15px; //отступ левой и правой панели от основного контента
    --pageTop-gap: 10px; //отступ верхней панели от контента

    --page-max-height: 80vh; //максимальная высота основного блока

    --newsCard-height: 270px; //высота карточек на главной и в домашке
    --newsCard-width: 240px; //ширина карточек на главной и в домашке

    //цвета
    --accent: #5794da;
    --deadline: #85a1c1;
    --black: #212121;

    --body-bg: #FAFBFC; //
    --side-menu-bg: #fff;
    --content-bg: #fff;
    --right-menu-bg: #fff;
    --radio-color: #5B3DEA;

    --timetable-date-color: rgba(87, 148, 218, 1);
    --timetable-bg: #fff;
    --timetable-prev-color: #85A1C1;
    
    //button

    /*BEGIN readmore btn*/
    --btn-readmore-color: #fff;
    --btn-readmore-bg: var(--accent);
    --btn-readmore-border-color: var(--accent);
    --btn-readmore-hover-bg: transparent;
    --btn-readmore-hover-color: var(--accent);
    /*-END readmore btn*/

    /*BEGIN showmore btn*/
    --btn-showmore-bg: #5794da;
    --btn-showmore-border-color: transparent;
    --btn-showmore-hover-bg: #0d4e85;
    --btn-showmore-hover-color: #fff;
    /*-END showmore btn*/

    //fontsize 1rem = 14px !!!
    --fz-head: 1.43rem;
    --fz-medium: 1.15rem;
    --fz-small: 1rem;
}
