@import 'mixins.scss';

html {
    font-family: 'Montserrat';
    font-size: 14px;
}

:root {
    //размеры
    --side-menu-width: 90px;
    --side-menu-height: 70vh; //так же, минимальная высота для основного блока
    --menu-top-height: 110px;

    --pageSide-gap: 50px; //отступ левой панели от основного контента
    --pageTop-gap: 10px; //отступ верхней панели от контента

    --page-max-height: 90vh; //максимальная высота основного блока

    --newsCard-height: 300px; //высота карточек на главной

    //цвета
    --accent: #5794da;
    --deadline: #85a1c1;

    //button

    /*BEGIN readmore btn*/
    --btn-readmore-bg: #fff;
    --btn-readmore-border-color: #000;
    --btn-readmore-hover-bg: #000;
    --btn-readmore-hover-color: #fff;
    /*-END readmore btn*/

    //fontsize
    --fz-head: 1.714rem;
    --fz-medium: 1.15rem;
    --fz-small: 1rem;
}
