.sideMenu {
    padding: 15px 0;

    width: var(--side-menu-width);
    height: var(--side-menu-height);
    border-radius: 15px;

    background: var(--side-menu-bg);

    display: flex;
    flex-direction: column;

    align-items: center;

    &__item-wrapper {
        position: relative;
        margin-bottom: 30px;
        .notification {
            position: absolute;
            right: 0;
            border-radius: 50%;
            /* padding: 1px; */
            background: red;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 10px;
            z-index: 10;
        }
        &:last-child {
            margin-bottom: 0;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
        }
    }

    &__item {
        transition: 0.2s ease-in;

        cursor: pointer;
        position: relative;

        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #D0E2F6;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 50%;
        }

        &:after {
            pointer-events: none;
            transition: 0.2s ease-in;
            opacity: 0;

            content: attr(data-title) ' ';
            position: absolute;
            z-index: 3;
            left: calc(100% + 5px);

            background: #ffffff;
            box-shadow: 0 4px 15px rgba(133, 161, 193, 0.25);

            width: max-content;
            border-radius: 15px;

            font-weight: 700;
            font-family: Roboto;

            padding: 3px 10px;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        &.active {
            background: var(--accent);
            border-color: var(--accent);
            svg {
                stroke: white !important;
                stroke-opacity: 1 !important;
            }
        }
    }
}
